/** Hero-section **/

.hero-section {
  position: relative;
  height: 90vh;
  background-image: url(../../images/resource/bg-ai.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.hero-content {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 100px 50px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-content h1 {
  color: var(--theme-color);
}
.hero-content p {
  font-size: 18px;
  line-height: 32px;
  margin-top: 16px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--theme-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  color: #fff;
  background-color: #000;
}
